<body class="ap-locale-ja_JP a-m-jp a-aui_51744-c a-aui_57326-c a-aui_72554-c a-aui_83815-c a-aui_86171-c a-aui_96511-c a-aui_accessibility_49860-c a-aui_attr_validations_1_51371-c a-aui_bolt_62845-c a-aui_noopener_84118-c a-aui_ux_102912-c a-aui_ux_59374-c a-aui_ux_60000-c a-aui_ux_92006-c a-aui_ux_98513-c a-dex_92889-c a-meter-animate">
  <div id="a-page">
    <div class="a-section a-padding-medium auth-workflow">
      <div class="a-section a-spacing-none auth-navbar">
        <div class="a-section a-spacing-medium a-text-center">
          <a class="a-link-nav-icon" tabindex="-1" href="/ref=ap_frn_logo">
            <i class="a-icon a-icon-logo" aria-label="Amazon">
              <span class="a-icon-alt">Bmazon</span>
            </i>
            <i class="a-icon a-icon-jp a-icon-domain-jp a-icon-domain"></i>
          </a>
        </div>
      </div>
      <div class="a-section a-spacing-base auth-pagelet-container">
        <div id="auth-cookie-warning-message" class="a-box a-alert a-alert-warning">
          <div class="a-box-inner a-alert-container">
            <h4 class="a-alert-heading">続行するには、cookieを有効にしてください
            </h4>
            <i class="a-icon a-icon-alert"></i>
            <div class="a-alert-content">
              <p>
                <a class="a-link-normal" href="/gp/help/customer/display.html/ref=ap_cookie_error_help?">
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="a-section auth-pagelet-container">
        <div class="a-section">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="a-box a-spacing-extra-large">
              <div class="a-box-inner">
                <h1 class="a-spacing-small">アカウントを作成</h1>
                <div class="a-row a-spacing-base">
                  <!-- 名前のフォーム -->
                  <div class="label", for="ap_customer_name">名前<% f.label :name %><br />
                  <%= f.text_field :name,  maxlength:"50", id:"ap_customer_name", class: "a-input-text a-span12 auth-autofocus auth-required-field auth-contact-verification-request-info" %></div>
                </div>
                <div class="a-row a-spacing-base">
                  <!-- フリガナのテキストフォーム -->
                  <div class="label" for="ap_customer_name_pronunciation">フリガナ<% f.label :furigana %><br />
                  <%= f.text_field :furigana,  maxlength: "50", id: "ap_customer_name_pronunciation", class: "a-input-text a-span12 auth-required-field" %></div>
                </div>
                <div class="auth-require-fields-match-group">
                  <div class="a-row a-spacing-base">
                    <!-- メールアドレスのフォーム -->
                    <div class="label" for="ap_email">Eメールアドレス<%f.label :email %><br />
                    <%= f.email_field :email, maxlength: "64", id: "ap_email", class: "a-input-text a-span12 auth-required-field auth-require-fields-match auth-require-email-validaton auth-require-reverify-on-change auth-contact-verification-request-info" %></div>
                  </div>
                </div>
                <div class="auth-require-fields-match-group">
                  <div class="a-row a-spacing-base">
                    <!-- パスワードフォーム -->
                    <div class="label" id="pass" for="ap_password"><%= f.label :password %><br />
                    <%= f.password_field :password, maxlength: "1024", id: "ap_password", placeholder: "最低6文字必要です", class: "a-input-text a-form-normal a-span12 auth-required-field auth-require-fields-match  auth-require-password-validation" %></div>
                  </div>
                  <div class="a-row a-spacing-base">
                    <div class="label" for="ap_password_check"><%= f.label :password_confirmation %><br />
                      <!-- 確認用パスワードフォーム -->
                    <%= f.password_field :password_confirmation, maxlength: "1024", id: "ap_password_check", class: "a-input-text a-form-normal a-span12 auth-required-field auth-require-fields-match" %></div>
                  </div>
                </div>
                <div class="a-row a-spacing-extra-large">
                  <span class="a-button a-button-normal a-button-span12 a-button-primary">
                    <span class="a-button-inner">
                      <!-- 送信ボタンのフォーム -->
                      <%= f.submit id: "continue", class: "a-button-input", "aria-labelledby": "a-autoid-0-announce" %>
                      <span class="a-button-text" aria-hidden="true" id="a-autoid-0-announce">Bamzonアカウントを作成</span>
                    </span>
                  </span>
                  <div id="legalTextRow" class="a-row a-spacing-top-medium a-size-small">
                    サインすることにより、当社の
                    <a href="/gp/help/customer/display.html/ref=ap_register_notification_privacy_notice?ie=UTF8&nodeId=643000">利用規約</a>
                    および
                    <a href="/gp/help/customer/display.html/ref=ap_register_notification_privacy_notice?ie=UTF8&amp;nodeId=643000">プライバシー規約</a>
                    に同意したとみなされます。
                  </div>
                </div>
                <div class="a-divider a-divider-section">
                  <div class="a-divider-inner">
                  </div>
                </div>
                <div class="a-row">
                  すでにアカウントをお持ちですか？
                  <a class="a-link-emphasis" href="/users/sign_in">
                    サインイン
                  </a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div id="right-2"></div>
      <div class="a-section a-spacing-top-extra-large auth-footer">
        <div class="a-divider a-divider-section">
          <div class="a-divider-inner">
          </div>
        </div>
        <div class="a-section a-spacing-small a-text-center a-size-mini">
          <span class="auth-footer-seperator"></span>
          <a class="a-link-normal" target="_blank" rel="noopener noreferrer" href="/gp/help/customer/display.html/ref=ap_desktop_footer_cou?ie=UTF8&nodeId=643006">利用規約</a>
          <span class="auth-footer-seperator"></span>
          <a class="a-link-normal" target="_blank" rel="noopener noreferrer" href="/gp/help/customer/display.html/ref=ap_desktop_footer_privacy_notice?ie=UTF8&nodeId=643000">プライバシー規約</a>
          <span class="auth-footer-seperator"></span>
          <a class="a-link-normal" target="_blank" href="/help">ヘルプ</a>
          <span class="auth-footer-seperator"></span>
        </div>
        <div class="a-section a-spacing-none a-text-center">
          <span class="a-size-mini a-color-secondary">© 2017, Bamazon.com, Inc. or its affiliates</span>
        </div>
      </div>
      <div id="auth-external-javascript" class="auth-external-javascript" data-external-javascripts>
      </div>
    </div>
    <div id="be" style="display:none;visibility:hidden;">
      <form name="ue_backdetect" action="get">
        <input type="hidden" name="ue_back" value="2">
      </form>
    </div>
    <div class="fwcim-container"></div>
    <div id="UMS_TOOLTIP" style="position: absolute; cursor: pointer; z-index: 2147483647; background: transparent; top: -100000px; left: -100000px;"></div>
    <div id="a-popover-root" style="z-index:-1;position:absolute;"></div>
  </div>
</body>
<umsdataelement id="UMSSendDataEventElement"></umsdataelement>
