<%= render partial: 'layouts/header' %>

<div id = "yourOrders" role = "main">
  <div id = "yourOrdersContent">
    <div class="a-section a-spacing-large a-spacing-top-small a-subheader a-breadcrumb">
    <ul class="a-unordered-list a-nostyle a-horizontal">
      <li>
        <span class="a-list-item">
          <a class="a-link-normal" title="アカウントサービスに戻る" href="/users">
            <span>
            アカウントサービス
            </span>
          </a>
        </span>
      </li>
      <li class="a-breadcrumb-divider">›</li>
      <li>
        <span class="a-list-item">
          <span class="a-color-state">
            注文履歴
          </span>
        </span>
      </li>
    </ul>
  </div>
  <div class="a-row">
    <div class="a-column a-span6">
      <h1 class="a-spacing-medium">
        注文履歴
      </h1>
    </div>
  </div>
  <div id="controlsContainer">
    <div id="orderTypeMenuContainer" class="a-row a-spacing-medium custom-view-options">
      <ul class="a-unordered-list a-nostyle a-horizontal" role="tablist">
        <li role="tab">
          <span class="a-list-item">
          </span>
        </li>
        <li role="tab">
          <span class="a-list-item">
            <span class="item">
              注文
            </span>
          </span>
        </li>
    </ul>
  </div>
  <div class="a-row a-spacing-base top-controls">
    <label for="orderFilter" class="a-form-label num-orders-for-orders-by-date aok-inline-block a-text-normal">確定された<span class="num-orders"><%= @orders.length %>件</span>の注文
    </label>
  </div>
  </div>
  <div id = "ordersContainer">
    <% @orders.each do |order| %>
    <div class="a-box-group a-spacing-base order">
      <div class="a-box a-color-offset-background order-info">
        <div class="a-box-inner">
          <div class="a-fixed-right-grid">
            <div class="a-fixed-right-grid-inner" style="padding-right:290px">
              <div class="a-fixed-right-grid-col a-col-left" style="padding-right:0%;float:left;">
                <div class="a-row">
                  <div class="a-column a-span3">
                    <div class="a-row a-size-mini">
                      <span class="a-color-secondary label">
                      注文日
                      </span>
                    </div>
                    <div class="a-row a-size-base">
                      <span class="a-color-secondary value">
                        <%= order.created_at %>
                      </span>
                    </div>
                  </div>
                  <div class="a-column a-span2">
                    <div class="a-row a-size-mini">
                      <span class="a-color-secondary label">
                      合計
                      </span>
                    </div>
                    <div class="a-row a-size-base">
                      <span class="a-color-secondary value">
                      ￥ <%= order.order_price_sum(order)%>
                      </span>
                    </div>
                  </div>
                  <div class="a-column a-span7 recipient a-span-last">
                    <div class="a-row a-size-mini">
                      <span class="a-color-secondary label">
                      お届け先
                      </span>
                    </div>
                    <div class="a-row a-size-base">
                      <span class="a-color-secondary">
                        <span class="a-declarative" style="">
                          <a href="javascript:void(0)" class="a-popover-trigger a-declarative value"><span class="trigger-text">
                          貝塚秀雄
                          </span>
                          <i class="a-icon a-icon-popover"></i>
                        </a>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="a-fixed-right-grid-col actions a-col-right" style="width:290px;margin-right:-290px;float:left;">
              <div class="a-row a-size-mini">
                <span class="a-color-secondary label">
                注文番号
              </span>
              <span class="a-color-secondary value">
              <%= order.order_number(order) %>
              </span>
            </div>
            <div class="a-row a-size-base">
              <ul class="a-unordered-list a-nostyle a-vertical">
                <a class="a-link-normal" href="/orders">
                注文の詳細
                </a>
                <i class="a-icon a-icon-text-separator"></i>
                <span class="hide-if-js">
                  <a class="a-link-normal" href="/orders">
                  領収書／購入明細書
                </a>
              </span>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% order.order_products.each do |order_product| %>
<div class="a-box shipment shipment-is-delivered">
  <div class="a-box-inner">
    <div class="a-row shipment-top-row js-shipment-info-container">
      <div style="margin-right:250px; padding-right:20px">
        <div class="a-row">
          <span data-yoedd="" data-yoshortstatus="DELIVERED" class="js-shipment-info aok-hidden">
          </span>
          <span class="a-size-medium a-color-base a-text-bold">
          配達しました
          </span>
        </div>
        <div class="a-row">
        <div class="a-row">
          配達またはポスト投函が完了しました
        </div>
        </div>
      </div>
    </div>
    <div class="a-fixed-right-grid a-spacing-top-medium">
      <div class="a-fixed-right-grid-inner a-grid-vertical-align a-grid-top">
        <div class="a-fixed-right-grid-col a-col-left" style="padding-right:3.2%;float:left;">
          <div class="a-row">
            <div class="a-fixed-left-grid a-spacing-none">
              <div class="a-fixed-left-grid-inner" style="padding-left:100px">
                <div class="a-text-center a-fixed-left-grid-col a-col-left" style="width:100px;margin-left:-100px;float:left;">
                  <div class="item-view-left-col-inner">
                    <a class="a-link-normal" href="/products/<%= order_product.product_id %>">
                      <img alt="" src="<%= order_product.product_image %>" aria-hidden="true" onload="if (typeof uet == 'function') { uet('cf');}" class="yo-critical-feature" height="" width="64" title="退屈なことはPythonにやらせよう" data-a-hires="https://images-fe.ssl-images-amazon.com/images/I/51hk%2B5bKNrL._SY180_.jpg">
                    </a>
                  </div>
                </div>
                <div class="a-fixed-left-grid-col a-col-right" style="padding-left:1.5%;float:left;">
                  <div class="a-row">
                    <a class="a-link-normal" href="/products/<%= order_product.product_id %>">
                      <%= order_product.product_name %>
                    </a>
                  </div>
                  <div class="a-row">
                    <span class="a-size-small">
                      Al Sweigart
                    </span>
                  </div>
                  <div class="a-row">
                    <span class="a-size-small a-color-secondary">
                      販売: Amazon Japan G.K.
                    </span>
                  </div>
                  <div class="a-row">
                    <span class="a-size-small">
                      <div class="a-row a-size-small">
                        返品期間：いつでもいいよ〜〜〜〜〜
                      </div>
                    </span>
                  </div>
                  <div class="a-row">
                    <span class="a-size-small a-color-price">
                      ￥ <%= order_product.price.floor.to_s(:delimited) %>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="a-fixed-right-grid-col a-col-right" style="width:250px;margin-right:-250px;float:left;">
          <div class="a-row">
            <div class="a-button-stack">
              <span class="a-button a-button-normal a-spacing-mini" id="a-autoid-12">
                <span class="a-button-inner ">
                  <a id="商品のレビュー" href="/products/<%= order_product.product_id %>/reviews/new" class="a-button-text " role="button">
                  商品のレビューを書く
                </a>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
</div>
<% end %>
</div>
</div>
</div>
<%= render partial: 'layouts/footer' %>
