<%= render partial: 'layouts/header' %>
  <div class="a-container containerCSS">
    <div class="a-row a-spacing-base">
      <div class="a-box a-alert a-alert-success">
        <div class="a-box-inner a-alert-container">
          <i class="a-icon a-icon-alert"></i>
          <div class="a-alert-content">
            <div class="a-row">
              <div class="a-column a-span7">
                <h2 class="a-color-success">ありがとうございます。 注文が確定されました。</h2>
                <p id="subHeadingOnly">確認のEメールを送信しました。</p>
                <p id="subHeadingAndMobileWidget" class="subHeadingAndMobileWidgetDisplay">確認のEメールを送信しました。</p>
                <% @order.order_products.each do |product| %>
                  <h5>注文番号:<span id="order-number-503-7768614-5628660" class="a-text-bold"><%= current_user.id %>-<%= @order.id %>-<%= product.id %></span></h5>
                  <ul class="a-unordered-list a-vertical">
                    <li>
                      <span class="a-list-item">
                        <span class="wrap-item-title"><%= product.product_name  %></span>&nbsp;を次のお届け先へ発送します
                        <span class="a-declarative"><a href="javascript:void(0)" class="a-popover-trigger a-declarative"><%= current_user.name %><i class="a-icon a-icon-popover"></i></a></span>
                        発送元: Bamazon Japan G.K..<br>
                        お届け日:
                        <b>2017年12月10日</b>
                      </span>
                    </li>
                  </ul>
                <% end %>
                <div class="a-row">
                  <a class="a-link-emphasis" href="#">
                    注文詳細を見る（注文内容の変更・領収書の印刷）
                  </a>
                  <i class="a-icon a-icon-text-separator"></i>
                  <a class="a-link-normal" href="#">
                    購入についてのよくある質問
                  </a>
                  <i class="a-icon a-icon-text-separator"></i>
                  <a class="a-link-normal" href="#">
                    Bamazon ポイントを確認する
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="a-divider a-divider-section">
      <div class="a-divider-inner"></div>
    </div>
    <div class="a-row a-spacing-large alignCenter">
      <span class="a-button a-spacing-large a-button-primary" id="a-autoid-21">
        <span class="a-button-inner">
          <%= link_to "ショッピングを続ける", root_path, class:"a-button-text a-text-center", role:"button", id:"a-autoid-21-announce" %>
        </span>
      </span>
    </div>
  </div>
  <div class="a-popover a-popover-no-header a-declarative a-arrow-bottom" id="a-popover-3" aria-hidden="true" style="z-index: 299; visibility: visible; top: auto; left: auto; opacity: 1; display: none;">
    <span tabindex="0" role="dialog" class="a-popover-start a-popover-a11y-offscreen"></span>
    <div class="a-popover-wrapper">
      <div class="a-popover-inner2" style="height: auto; overflow-y: auto;">
        <button data-action="a-popover-close" class="a-button-close  a-declarative" aria-label="Close">
          <i class="a-icon a-icon-close"></i>
        </button>
        <div class="a-popover-content" id="a-popover-content-3">
          <%= current_user.name %><br><%= @order.postal_code_one %>-<%= @order.postal_code_two %><br><%= @order.street_address_one %> <%= @order.street_address_two %><br><%= @order.building_name %><br><br>
        </div>
      </div>
      <div class="a-arrow-border" style="left: 126px;">
        <div class="a-arrow"></div>
      </div>
    </div>
    <span tabindex="0" class="a-popover-end a-popover-a11y-offscreen"></span>
  </div>
<%= render partial: 'layouts/footer' %>
