<%= render partial: 'layouts/header' %>

  <div class = "a-container">
    <% if current_user.cart.cart_products.blank? %>
    <div id = "sc-active-cart" class = "a-section a-spacing-top-base sc-list">
      <a name = "sc-anchor-active-cart" href="#"></a>
        <div class = "a-row sc-cart-header">
          <h1>
            お客様のショッピングカートに商品はありません。
          </h1>
        </div>
        <div class="sc-empty-cart">
          <p>
            ショッピングカートでは商品を自由に出し入れできます。また、カートに入れた商品を「あとで買う」に移動したり、ほしい物リストに登録したりすることも可能です。
            <br>
            ショッピングを続けるには<a class="a-link-normal" href="/">Amazon.co.jp トップ</a>へどうぞ。そのほか<a class="a-link-normal" href="/">本日のタイムセール</a>や<a class="a-link-normal" href="/">ほしい物リスト</a>もご確認いただけます。
          </p>
        </div>
      </div>
      <% end %>
      <!-- ここまでが商品がない時 -->
      <% if current_user.cart.cart_products.present? %>
      <!-- レジに進むボタン -->
      <%= form_for @order_product do |f| %>
      <div class = "a-fixed-right-grid-col a-col-right" style ="width: 300px; float:right;">
        <div id = "sc-buy-box" class = "a-section">
          <div class = "a-box-group sc-buy-box-group">
            <div class = "a-box a-color-alternate-background">
              <div class = "a-box-inner">
                <div class = "sc-subtotal a-spacing-mini registar-area">
                  <p class="a-spacing-none a-spacing-top-none">
                    <span class="a-size-medium a-text-bold">
                      <span>
                        小計 (<%= @cart.cart_count_sum(@cart) %>点):
                      </span>
                      <span class="a-size-medium a-color-price sc-price sc-white-space-nowrap  sc-price-sign">￥ <%= @cart.cart_price_sum(@cart) %>
                      </span>
                    </span>
                  </p>
                  <p class="a-spacing-none a-spacing-top-small">
                    <span class="a-size-base">
                      この注文での獲得ポイント:
                      <span class="a-color-price">
                      <%= @cart.cart_point_sum(@cart) %>pt
                    </span>
                  </span>
                </p>
              </div>
              <div class="sc-proceed-to-checkout">
                <span id="sc-buy-box-ptc-button" class="a-button a-button-span12 a-button-primary">
                  <span class="a-button-inner">
                    <%= f.submit name:"proceedToCheckout", class:"a-button-input", value:"Proceed to checkout" %>
                    <span id="sc-buy-box-ptc-button-announce" class="a-button-text" aria-hidden="true">
                    レジに進む
                  </span>
                </span>
              </span>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ここまでがレジにに進むボタン -->
      <div id = "sc-active-cart" class = "a-section a-spacing-top-base sc-list" style ="overflow: hidden; padding-right: 3.5%;"%>
        <a name="sc-anchor-active-cart" href="#"></a>
        <div class="a-row sc-cart-header sc-compact-bottom">
          <div class="a-row">
            <div class="a-column a-span6 cart_head">
              <h2>
                ショッピングカート
              </h2>
            </div>
            <div class="a-column a-span6 a-text-right a-span-last">
              <div class="a-row a-size-small a-color-secondary sc-points-heading">
                <p>
                  ご利用可能な<a href="/">Amazonポイントは121pt</a>です。この注文で 32pt 獲得できます。
            </div>
          </div>
        </div>
        <div class = "sc-list-head">
        <div class="a-row">
          <div class="a-column a-span8"></div>
          <div class="a-column a-span2 a-text-left a-spacing-top-micro">
            <span class="a-color-secondary">
              価格
            </span>
          </div>
          <div class="a-column a-span2 a-text-right a-spacing-top-micro a-span-last">
            <span class="a-color-secondary">
              数量
            </span>
          </div>
        </div>
        </div>
        <div class = "sc-list-body">
        <% @cart.cart_informations(@cart).each do |cart_info| %>
        <%= f.fields_for "order_info[]", cart_info do |f| %>
        <div class="a-row sc-list-item sc-list-item-border">
        <div class = "a-row a-spacing-base a-spacing-top-base cart-product-infomation">
          <div class = "a-clumn a-span8" style = "float: left;">
            <div class = "a-fixed-left-grid">
              <div class = "a-fixed-left-grid-inner" style = "padding-left: 115px">
                <div class="a-fixed-left-grid-col a-float-left a-col-left" style="width:115px;margin-left:-115px;float:none;">
                  <div class = "sc-item-product-image">
                    <a class = "a-link-normal sc-product-link" href = "/products/<%= cart_info.product_id%>">
                      <img src="<%= cart_info.product.product_images[0].image %>" width="100">
                    </a>
                  </div>
                </div>
                <div class = "a-fixed-left-grid-col a-col-right" style = "padding-left:0%;*width:99.6%;float:left;">
                  <ul class = "a-unordered-list a-nostyle a-vertical a-spacing-mini">
                    <li>
                      <span class = "a-list-item">
                        <a class = "a-link-normal sc-product-link" href = "/products/<%= cart_info.product_id%>">
                          <span class = "a-size-medium sc-product-title a-text-bold">
                            <%= cart_info.product.name %>
                          </span>
                          <span class = "a-size-base sc-product-creator">
                          </span>
                          <li>
                          <span class="a-list-item">
                            <span class="a-size-small a-color-secondary sc-product-binding">単行本（ソフトカバー）
                            </span>
                          </span>
                        </li>
                        <li>
                          <span class="a-list-item">
                            <span class="a-size-small a-color-success sc-product-availability"><span class="a-size-small a-color-price sc-product-scarcity">
                              残り<b><%= cart_info.product.stock %>点</b>（入荷予定あり）
                            </span>
                          </span>
                        </span>
                      </li>
                        </a>
                      </span>
                    </li>
                  </ul>
                  <div class = "a-row sc-action-links">
                    <span class = "a-size-small sc-action-delete">
                      <span class = "a-declarative" data-actoin="sc-item-action">
                          <%= link_to "削除", product_cart_product_path(@cart,cart_info),  class: "carts_delete_buttorn", product_id: cart_info.product.id, cart_product_id: cart_info.id, cart_id: @cart.id %>
                        </a>
                      </span>
                    </span>
                    <i class="a-icon a-icon-text-separator"></i>
                    <span class = "a-size-small sc-action-save-for-later">
                      <span class = "a-declarative" data-actoin="sc-item-action">
                        <a href = "/" class = "save-for-later-button">
                          あとで買う
                        </a>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="a-column a-span2 a-text-left ">
            <p class="a-spacing-small">
              <span class="a-size-medium a-color-price sc-price sc-white-space-nowrap sc-product-price sc-price-sign a-text-bold">
                ￥ <%= cart_info.product.price.floor.to_s(:delimited) %>
              </span>
            </p>
            <p class="a-spacing-small"></p>
            <p class="a-spacing-small"></p>
            <p class="a-spacing-small">
              <span class="a-size-small a-inline-block">
              ポイント：
              </span>
              <span class="a-size-small a-color-price a-inline-block">
              <%= cart_info.product_point(cart_info) %>pt&nbsp;(10%)
              </span>
            </p>
            <p></p>
            <p></p>
          </div>
          <div class = "a-column a-span2 a-text-right sc-action-links a-span-last">
            <div class = "a-row a-spacing-base sc-action-quantity sc-action-quantity-right">
              <div class = "sc-invisible-when-no-js">
                <span class = "a-dropdown-container">
                  <label class = "a-native-dorpdown">
                    <%=f.select :product_count, ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "33", "34", "35", "36", "37", "38", "39", "40", "41", "42", "43", "44", "45", "46", "47", "48", "49", "50", "51", "52", "53", "54", "55", "56", "57", "58", "59", "60", "61", "62", "63", "64", "65", "66", "67", "68", "69", "70", "71", "72", "73", "74", "75", "76", "77", "78", "79", "80", "81", "82", "83", "84", "85", "86", "87", "88", "89", "90", "91", "92", "93", "94", "95", "96", "97", "98", "99", "100"],{}, {class: "cart_prodcut_count_buttorn  data-cart_prodcut_count", product_id: cart_info.product.id, cart_product_id: cart_info.id, cart_id: @cart.id} %>
                    <%= f.hidden_field :product_name, :value => cart_info.product.name%>
                    <%= f.hidden_field :price, :value => cart_info.product.price %>
                    <%= f.hidden_field :product_image, :value => cart_info.product.product_images[0].image%>
                    <%= f.hidden_field :count, :value => cart_info.product_count %>

                  </label>
                </span>
              </div>
            </div>
        </div>
      </div>
      </div>
      <% end %>
      <% end %>
      <div class="bottom-sum sc-subtotal a-text-right a-float-right space_bottom">
          <p class="a-spacing-none a-spacing-top-mini">
            <span class="a-size-medium a-text-bold">
              小計 (<%= @cart.cart_count_sum(@cart) %>点):
              <span class="a-color-price a-text-bold">
                <span class="a-size-medium a-color-price sc-price sc-white-space-nowrap  sc-price-sign">
                ￥ <%= @cart.cart_price_sum(@cart) %>
              </span>
            </span>
          </span>
        </p>
        <p class="a-spacing-none a-spacing-top-medium a-text-right">
          <span class="a-size-base">
            この注文での獲得ポイント:
            <span class="a-color-price"><%= @cart.cart_point_sum(@cart) %>pt</span>
          </span>
        </p>
      </div>
      </div>
      </div>
    </div>
    <% end %>
      <% end %>
      <div id="sc-about" class="a-row a-size-small">
        <div id="cart-about-cart-warning" class="a-row">
          <p>
            Amazon.co.jp での商品価格や在庫状況は変更される場合があります。カートに追加した時と在庫状況や価格が異なることがあります。カート内で表示されている価格は最新の価格となります。
          </p>
        </div>
          <p>
            未登録のAmazonギフト券やクーポンは、お支払い方法選択画面や注文確定画面で入力できます。
          </p>
      </div>
    </div>
  </div>
<%= render partial: 'layouts/footer' %>
