<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%= paginator.render do -%>
  <div id="centerBelowMinus">
    <div class="img_header hdr noborder" id="bottomBar">
      <div id="pagn" class="pagnHy">
        <% if current_page.first? %>
          <span class="pagnLA1">
            <span class="srSprite firstPageLeftArrow"></span>
            <span id="pagnPrevString">前のページ</span>
          </span>
        <% else %>
          <%= prev_page_tag %>
        <% end %>
        <% each_page do |page| -%>
          <% if page.display_tag? -%>
            <%= page_tag page %>
          <% elsif !page.was_truncated? -%>
            <%= gap_tag %>
          <% end -%>
        <% end -%>
        <% unless current_page.out_of_range? %>
          <% if current_page.last? %>
            <span class="pagnRA1">
              <span id="pagnNextString">次のページ</span>
              <span class="srSprite lastPageRightArrow"></span>
            </span>
          <% else %>
            <%= next_page_tag %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end -%>
