<%= render partial: 'layouts/header' %>
<div id="nav-subnav">
  <a href="/gp/registry/wishlist/ref=topnav_storetab_wl/358-9869141-7012436" class="nav-a nav-b" tabindex="31">
    <span class="nav-a-content">ほしい物リスト</span>
  </a>
  <a href="/gp/gift-central/gift-guides/ref=sv_wl_0/358-9869141-7012436" class="nav-a" tabindex="32">
    <span class="nav-a-content">ギフトガイド</span>
  </a>
  <a href="/gp/gc/ref=sv_wl_1/358-9869141-7012436" class="nav-a" tabindex="33">
    <span class="nav-a-content">ギフト券</span>
  </a>
  <a href="/gp/help/customer/display.html/ref=sv_wl_2/358-9869141-7012436?ie=UTF8&amp;nodeId=642968" class="nav-a" tabindex="34">
    <span class="nav-a-content">ギフトラッピング</span>
  </a>
  <a href="/gp/registry/wishlist/ref=sv_wl_3/358-9869141-7012436" class="nav-a" tabindex="35">
    <span class="nav-a-content">ほしい物リスト</span>
  </a>
  <a href="/gp/help/customer/display.html/ref=sv_wl_4/358-9869141-7012436?ie=UTF8&amp;nodeId=200106390" class="nav-a" tabindex="36">
    <span class="nav-a-content">ギフトヘルプ</span>
  </a>
</div>
<div class="a-container g-fix-wide-screen">
  <div id="wishlist-page" class="a-tab-container">
    <ul data-action="a-tabs" class="a-tabs a-declarative">
      <li id="my-lists-tab" class="a-tab-heading a-active a-size-large">
        <a href="/gp/registry/wishlist/ref=cm_wl_your_lists">マイリスト</a>
      </li>
      <!--<li id="friends-tab" class="a-tab-heading a-size-large" data-a-tab-name="friends-tab">-->
      <!--<a href="/gp/registry/search.html/ref=cm_wl_search_wlv_hz?type=wishlist">友達</a>-->
      <!--</li>-->
      <div class="a-section a-spacing-top-medium a-text-right">
        <span class="a-declarative">
          <a id="createList" class="a-link-normal" href="#">ほしい物リストを作成する</a>
        </span>
      </div>
    </ul>
    <div id="my-lists-tab" class="a-box a-box-tab a-tab-content">
      <div class="a-box-inner">
        <div class="a-fixed-left-grid">
          <div class="a-fixed-left-grid-inner" style="padding-left:252px">
            <div id="left-nav" class="a-fixed-left-grid-col a-col-left" style="width:252px;margin-left:-252px;_margin-left:-126px;float:left;">
              <div id="your-lists-nav" class="a-section">
                <form id="wl-item-search">
                  <div class="a-row a-spacing-none g-item-search">
                    <div class="a-search a-spacing-none">
                      <!--<i class="a-icon a-icon-search"></i>-->
                      <input type="search" placeholder="あなたのリストからアイテムを見つける" name="itemSearch" class="a-input-text a-width-large g-search-input">
                    </div>
                  </div>
                </form>
                <div class="a-section a-spacing-top-small">
                  <% @wanteds.each do |wanted| %>
                    <!--<a id="wl-list-link-1L0H15BKJQILN" class="a-link-normal a-declarative hover-as-link hover-as-link-wanteds" href="/hz/wishlist/ls/1L0H15BKJQILN">-->
                    <%= link_to user_wanted_path(user_id: @user_id, id: wanted.id), id: "wl-list-link-1L0H15BKJQILN", class: "a-link-normal a-declarative hover-as-link hover-as-link-wanteds" do %>
                      <div class="a-fixed-right-grid wl-list <%= 'selected' if wanted.id == @selected_id %> a-spacing-micro a-spacing-top-micro">
                        <div class="a-fixed-right-grid-inner" style="padding-right:78px">
                          <div class="a-fixed-right-grid-col a-col-left" style="padding-right:1%;*width:98.6%;float:left;">
                            <div class="a-row">
                              <span id="wl-list-title-1L0H15BKJQILN"><%= wanted.name %></span>
                            </div>
                            <% if wanted.default_flg? %>
                              <div class="a-row a-spacing-top-micro">
                                <span class="a-size-small a-text-normal">デフォルトのリスト</span>
                              </div>
                            <% end %>
                          </div>
                          <div id="wl-list-privacy-1L0H15BKJQILN" class="a-fixed-right-grid-col wl-list-privacy a-col-right" style="width:78px;margin-right:-78px;float:left;">
                            <span class="hover-as-link a-text-normal"><% if wanted.open_flg? %>公開<% else %>非公開<% end %></span>
                          </div>
                        </div>
                      </div>
                    <% end %>
                    <!--</a>-->
                  <% end %>
                </div>
              </div>
            </div>
            <div id="content-right" class="a-fixed-left-grid-col a-col-right" style="padding-left:3.5%;*width:96.1%;float:left;">
              <div class="a-section a-spacing-none list-header-container">
                <div id="list-header" class="a-section a-spacing-small">
                  <div id="wl-list-info" class="a-row a-spacing-small">
                    <div class="a-column a-span8 a-spacing-top-small">
                      <div class="a-row">
                        <span id="profile-list-name" class="a-size-medium a-text-bold">保存と比較</span>
                        <span class="a-letter-space"></span>
                        <span class="a-letter-space"></span>
                        <span class="aok-nowrap">
                          <span id="listPrivacy" class="a-color-secondary">非公開</span>
                          <span class="a-letter-space"></span>
                          <span class="a-letter-space"></span>
                          <span class="a-declarative">
                            <a id="editYourList" class="a-link-normal editYourListTrigger" href="/hz/wishlist/settings/DBYTVA9Z88U?type=wishlist">このリストを編集する</a>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="wl-item-view" class="a-section a-spacing-none">
                <div id="control-bar" class="a-fixed-right-grid g-visible-js a-spacing-none">
                  <div class="a-fixed-right-grid-inner" style="padding-right:240px">
                    <div class="a-spacing-none a-spacing-top-small a-fixed-right-grid-col a-col-left" style="padding-right:0%;*width:99.6%;float:left;">
                      <span class="g-touch-hide">
                        <span class="g-touch-hide">
                          <div id="wfaAddTeaser" class="a-section a-spacing-small">
                            <form id="wfaFormHeader">
                              <img alt="" src="https://m.media-amazon.com/images/G/01/gifts/registries/wishlist/comment01m._CB344939052_.png" id="awl-wfa-text-sticky">
                              <img alt="" src="https://images-na.ssl-images-amazon.com/images/G/01/x-locale/common/transparent-pixel._V192234675_.gif" class="wfa-photo-icon">
                              <span class="a-declarative">
                                <input type="text" id="wfaTextInput" autocomplete="off" placeholder="メモを保存して、あとでお買い物" name="name.0" class="a-input-text snaw-text-input header">
                              </span>
                              <span id="wfa-note-add-button-wrapper" class="a-button a-button-disabled">
                                <span class="a-button-inner">
                                  <input id="wfa-note-add-button" class="a-button-input a-declarative" type="submit" aria-labelledby="wfa-note-add-button-wrapper-announce" disabled="disabled">
                                  <span id="wfa-note-add-button-wrapper-announce" class="a-button-text" aria-hidden="true">ほしい物リストに追加する</span>
                                </span>
                              </span>
                              <div id="wfa-generic-error" class="a-box a-alert-inline a-alert-inline-error wfaError a-hidden" aria-live="assertive" role="alert">
                                <div class="a-box-inner a-alert-container">
                                  <i class="a-icon a-icon-alert"></i>
                                </div>
                              </div>
                            </form>
                          </div>
                        </span>
                      </span>
                    </div>
                    <div class="a-spacing-medium a-spacing-top-large a-fixed-right-grid-col a-col-right" style="width:240px;margin-right:-240px;float:left;">
                      <span class="control-bar g-visible-js">
                        <span class="control-bar-wrapper">
                          <span class="a-dropdown-container">
                            <select name="sfr-trigger" autocomplete="off" tabindex="-1" class="a-native-dropdown a-spacing-none a-size-small a-text-normal">
                              <option value="">絞り込み: </option>
                              <option value="filter|unpurchased" selected="">未購入</option>
                              <option value="filter|purchased">購入済み</option>
                              <option value="filter|all">購入済みと未購入</option>
                              <option value="">並べ替え: </option>
                              <option value="sort|default">デフォルト</option>
                              <option value="sort|priority">優先度（高→低）</option>
                              <option value="sort|price-asc">価格（昇順）</option>
                              <option value="sort|price-desc">価格（降順）</option>
                            </select>
                          </span>
                          <span class="a-declarative">
                            <a id="filter-and-sort" class="a-link-normal g-trigger-label g-sfr-trigger a-declarative g-visible-js" href="#">
                              <span class="a-color-base">絞込み＆並替え</span>
                              <i class="a-icon a-icon-dropdown">
</i>
                              <span class="a-letter-space">
</span>
                            </a>
                          </span>
                          <span id="wl-filter-option-unpurchased">
</span>
                          <span id="wl-sort-option-default">
</span>
                          <a id="wl-print-link" class="a-link-normal a-declarative" href="/hz/wishlist/printview/DBYTVA9Z88U">
                            <img alt="" src="https://images-na.ssl-images-amazon.com/images/G/01/wishlist/print_icon._CB287382532_.png">
                          </a>
                          <span class="a-color-base">シェアする</span>
                          <span id="shareWidgetContainer" class="a-color-base g-swf-link">
                            <span class="a-declarative">
                              <a id="auiswfText" class="a-link-normal emailtext" title="Eメールでシェア" href="#">
                                <span class="a-letter-space">
</span>
                                <i class="a-icon a-icon-share-email">
</i>
                              </a>
                            </span>
                          </span>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
                <div id="item-page-wrapper" class="a-section">
                  <div class="a-section a-spacing-none">
                    <div id="g-items" class="a-section a-spacing-none g-items-section ui-sortable">
                      <% @wanted_products.each do |product| %>
                        <!-- ★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆ -->
                        <div class="a-section a-spacing-none g-item-sortable">
                          <hr class="a-spacing-none a-divider-normal">
                          <div id="item_<%= product.id %>" class="a-fixed-left-grid a-spacing-none">
                            <div class="a-fixed-left-grid-inner" style="padding-left:220px">
                              <div class="a-fixed-left-grid-col g-item-sortable-draggable-area a-col-left" style="width:220px;margin-left:-220px;_margin-left:-110px;float:left;">
                                <div class="a-fixed-left-grid">
                                  <div class="a-fixed-left-grid-inner" style="padding-left:35px">
                                    <div id="itemImage_<%= product.id %>" class="a-text-center a-fixed-left-grid-col g-itemImage g-item-sortable-padding a-col-right" style="padding-left:0%;*width:99.6%;float:left;">
                                      <%= link_to product_path(product), class: "a-link-normal", title: product.name do %>
                                        <!--画像有無で表示を変える分岐が必要-->
                                        <%= image_tag product.product_images[0].image, alt: product.name, style: "max-height: 160px;" %>
                                      <% end %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div id="itemMain_<%= product.id %>" class="a-text-left a-fixed-left-grid-col g-item-sortable-padding a-col-right" style="padding-left:0%;*width:99.6%;float:left;">
                                <div class="a-fixed-right-grid">
                                  <div class="a-fixed-right-grid-inner" style="padding-right:220px">
                                    <div id="itemInfo_<%= product.id %>" class="a-fixed-right-grid-col g-item-details a-col-left" style="padding-right:10%;*width:89.6%;float:left;">
                                      <div class="a-row">
                                        <div class="a-column a-span12 g-span12when-narrow g-span7when-wide">
                                          <div class="a-row a-size-small">
                                            <h5>
                                              <%= link_to product.name, product_path(product), class: "a-link-normal a-declarative", title: product.name %>
                                            </h5>
                                            <span id="item-byline-<%= product.id %>" class="a-size-base"></span>
                                          </div>
                                          <div class="a-row a-spacing-small a-size-small">
                                            <div class="a-row">
                                              <i class="a-icon a-icon-star a-star-4-5">
                                                <span class="a-icon-alt">5つ星のうち 4.6</span>
                                              </i>
                                              <span class="a-letter-space"></span>
                                              <a id="review_count_<%= product.id %>" class="a-link-normal" href="#">(1)</a>
                                            </div>
                                            <div class="a-row">
                                              <div class="a-section price-section">
                                                <span id="itemPrice_<%= product.id %>" class="a-price">
                                                  <span class="a-offscreen">￥<%= product.price.floor.to_s(:delimited) %></span>
                                                  <span aria-hidden="true">
                                                    <span class="a-price-symbol">￥</span>
                                                    <span class="a-price-whole"><%= product.price.floor.to_s(:delimited) %></span>
                                                  </span>
                                                </span>
                                                <span class="a-letter-space"></span>
                                                <i class="a-icon a-icon-jp a-icon-prime-jp a-icon-small"></i>
                                              </div>
                                            </div>
                                            <div class="a-row a-size-small itemAvailability">
                                              <span id="availability-msg_<%= product.id %>" class="itemAvailMessage">在庫あり。</span>
                                              <span class="a-letter-space"></span>
                                              <span id="offered-by_<%= product.id %>" class="itemVailOfferedBy">販売元: Bamazon.co.jp。</span>
                                            </div>
                                          </div>
                                          <span class="a-declarative">
                                            <a id="itemEditLabel_<%=  product.id%>" class="a-size-small a-link-normal g-touch-hide" href="#">コメント、数量、 優先度を追加する</a>
                                          </span>
                                        </div>
                                        <div class="a-column a-span12 g-span12when-narrow g-span5when-wide  g-item-comment a-hidden a-span-last">
                                          <div class="a-box a-box-normal a-color-alternate-background quotes-bubble">
                                            <div class="a-box-inner">
                                              <div id="itemCommentRow_<%= product.id %>" class="a-row a-hidden">
                                                <span class="wrap-text">
                                                  <span id="itemComment_<%= product.id %>" class="g-comment-quote a-text-quote">
                                                  </span>
                                                </span>
                                              </div>
                                              <div class="a-row g-item-comment-row">
                                                <span id="itemPriorityRow_<%= product.id %>" class="a-size-small a-hidden">優先度：
                                                  <span class="a-letter-space"></span>
                                                  <span id="itemPriorityLabel_<%= product.id %>" class="a-size-small dropdown-priority item-priority-medium">中</span>
                                                  <span id="itemPriority_<%= product.id %>" class="a-hidden">0</span>
                                                </span>
                                                <i class="a-icon a-icon-text-separator g-priority-seperator a-hidden">
                                                </i>
                                                <span id="itemQuantityRow_<%= product.id %>" class="a-size-small a-hidden">
                                                  <span class="aok-inline-block">
                                                    <span id="itemRequestedLabel_<%= product.id %>">希望:</span>
                                                    <span class="a-letter-space"></span>
                                                    <span id="itemRequested_<%= product.id %>">1</span>
                                                  </span>
                                                  <span class="a-letter-space"></span>
                                                  <span id="itemPurchasedSection_<%= product.id %>" class="aok-inline-block">
                                                    <span id="itemPurchasedLabel_<%= product.id %>">所有：</span>
                                                    <span class="a-letter-space"></span>
                                                    <span id="itemPurchased_<%= product.id %>">0</span>
                                                  </span>
                                                </span>
                                              </div>
                                              <div class="quotes-bubble-arrow"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div id="itemAction_<%= product.id %>" class="a-fixed-right-grid-col dateAddedText a-col-right" style="width:220px;margin-right:-220px;float:left;">
                                      <span id="itemAddedDate_<%= product.id %>" class="a-size-small">追加商品
                                        <span class="a-letter-space"></span>10月 20, 2017
                                      </span>
                                      <div class="a-button-stack a-spacing-top-small">
                                        <span class="a-declarative" id="pab-declarative-<%= product.id %>">
                                          <span id="pab-<%= product.id %>" class="a-button a-button-primary wl-info-aa_add_to_cart">
                                            <span class="a-button-inner">
                                              <a id="pab-<%= product.id %>-announce" href="/" class="a-button-text" role="button" style="background-color: #f0c14b; background: linear-gradient(to bottom,#f7dfa5,#f0c14b);">カートに入れる</a>
                                            </span>
                                          </span>
                                          <span></span>
                                        </span>
                                        <div class="a-row a-spacing-small">
                                          <!-- 現状高さを何で指定しているかわからない、直に指定しても効かない -->
                                          <div class="a-section g-visible-js" style="margin-bottom: 22px;">
                                            <div class="a-column a-span6">
                                              <input type="hidden" name="" value="ASIN:B00JC2DHDO|A1VC38T7YXB528" id="move_itemExternalId_<%= product.id %>" style="height: auto;">
                                              <span class="a-dropdown-container">
                                                <select name="reg-item-move" autocomplete="off" id="move_<%= product.id %>" class="a-native-dropdown g-move-button-native">
                                                  <option class="a-prompt" value="" disabled="" selected="selected">移動</option>
                                                  <option value="<%= product.id %>:1L0H15BKJQILN:DBYTVA9Z88U:WishList:0:358-9869141-7012436:wishlist" data-a-css-class="move-item-dropdown g-move-option"  data-a-html-content="<span class=&quot;a-size-base a-text-ellipsis&quot;>保存と比較</span>">保存と比較</option>
                                                </select>
                                                <span class="a-button a-button-dropdown a-button-small g-move-button" id="a-autoid-11" style="min-width: 0%;">
                                                  <span class="a-button-inner">
                                                    <span class="a-button-text a-declarative" role="button" id="a-autoid-11-announce">
                                                      <span class="a-dropdown-prompt">移動</span>
                                                    </span>
                                                    <i class="a-icon a-icon-dropdown"></i>
                                                  </span>
                                                </span>
                                              </span>
                                            </div>
                                            <div class="a-column a-span6 a-span-last">
                                              <form method="post" action="">
                                                <input type="hidden" name="id" value="1L0H15BKJQILN">
                                                <input type="hidden" name="itemId" value="I2IDZDYY80IQ76">
                                                <input type="hidden" name="sid" value="358-9869141-7012436">
                                                <span class="a-declarative" data-action="reg-item-delete" data-reg-item-delete="{&quot;layout&quot;:&quot;standard&quot;,&quot;itemId&quot;:&quot;I2IDZDYY80IQ76&quot;,&quot;itemName&quot;:&quot;エルゴトロン 小型PCやシンクライアント 取り付けシステム ブラック 80-107-200&quot;,&quot;itemExternalId&quot;:&quot;ASIN:B00JC2DHDO|A1VC38T7YXB528&quot;,&quot;asin&quot;:&quot;B00JC2DHDO&quot;,&quot;id&quot;:&quot;1L0H15BKJQILN&quot;,&quot;listType&quot;:&quot;wishlist&quot;,&quot;sid&quot;:&quot;358-9869141-7012436&quot;}">
                                                  <span class="a-button a-button-small" id="a-autoid-12">
                                                    <span class="a-button-inner">
                                                      <input name="submit.deleteItem" class="a-button-input a-declarative" type="submit" aria-labelledby="a-autoid-12-announce">
                                                      <span class="a-button-text" aria-hidden="true" id="a-autoid-12-announce">削除</span>
                                                    </span>
                                                  </span>
                                                </span>
                                              </form>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- ★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆ -->
                    <% end %>
                    </div>
                  </div>
                </div>
                <% if @wanted_products.blank? %>
                  <hr class="a-divider-normal">
                  <div id="no-items-section" class="a-section a-spacing-none a-text-center">
                    <span class="aok-inline-block">
                      <span class="a-size-medium a-color-base" style="text-decoration: none!important;"> アイテムはありません</span>
                    </span>
                  </div>
                <% end %>
              </div>
              <div class="a-popover-preload" id="a-popover-spoil-surprise">
                <div class="a-section wl-spoiler-popover">
                  <div class="a-section a-spacing-none a-padding-medium">
                    <div class="a-section a-spacing-base">最近どなたかがあなたにこの商品を購入したかもしれません。</div>
                    <div class="a-section">
                      <span class="a-declarative">
                        <a id="blackoutVerifySpoiler" class="a-link-normal" href="#">購入された場合は教えてください。</a>
                      </span>
                      <span id="blackoutSpoiler" class="a-hidden">はい、この商品はあなたに対して購入されました。</span>
                    </div>
                  </div>
                  <div class="a-form-actions">
                    <span class="a-button" id="a-autoid-11">
                      <span class="a-button-inner">
                        <button id="blackout_cancel" class="a-button-text a-declarative" type="button">キャンセル</button>
                      </span>
                    </span>
                    <span class="a-button a-button-primary" id="a-autoid-12">
                      <span class="a-button-inner">
                        <a id="blackout_continue" href="javascript:void(0)" class="a-button-text" role="button">続ける</a>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="a-popover-preload" id="a-popover-reg-wfa-photo">
                <div class="a-section a-spacing-base inner-padding">
                  <div class="a-row a-spacing-large a-grid-vertical-align a-grid-center reg-wfa-photo-image-section" style="height:500px;">
                    <div class="a-section wl-modal-overlay">
                      <i class="a-icon a-popover-loading wl-modal-spinner">
                      </i>
                    </div>
                    <div class="a-column a-span12 a-text-center">
                      <img alt="" src="https://images-na.ssl-images-amazon.com/images/G/01/x-locale/common/transparent-pixel._V192234675_.gif" id="WLWFAP_Image">
                    </div>
                  </div>
                  <div class="a-row">
                    <div class="a-column a-span12 a-text-center">
                      <span id="WLWFAP_AddedDate"></span>
                    </div>
                  </div>
                </div>
              </div>
              <a id="schoolSupplyDupLink" href="javascript:void(0)" class="a-popover-trigger a-declarative a-hidden">
                <i class="a-icon a-icon-popover"></i>
              </a>
              <div class="a-popover-preload" id="a-popover-school-list-dup-modal"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="friends-tab" data-a-name="friends-tab" class="a-box a-box-tab a-tab-content a-hidden">
      <div class="a-box-inner"></div>
    </div>
  </div>
</div>
<div role="tooltip" class="a-popover a-tooltip a-declarative a-arrow-bottom" id="a-popover-3" style="z-index: 299; visibility: visible; top: 37px; left: 1026px; opacity: 1; display: none;" aria-hidden="true">
  <div class="a-tooltip-inner">設定</div>
  <div class="a-arrow-border" style="left: 40.1px;">
    <div class="a-arrow"></div>
  </div>
</div>
<%= render partial: 'layouts/footer' %>
