<!DOCTYPE html>
<html>
  <head>
    <title>Bamazon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div id ="navbar">
        <%= image_tag "IMG_1997.JPG" %>
        <div class = "nav-belt">
          <div class = "nav-left">
          </div>
          <div class = "nav-right">
          </div>
          <div class = "nav-fill">
          </div>
          <div class = "nav-belt">
          </div>
        </div>
        <div id = "nav-main" class = "nav-sprite">
          <div class = "nav-left">
          </div>
          <div class = "nav-right">
          </div>
          <div class = "nav-fill">
          </div>
        </div>
      </div>
    </header>

    <%= yield %>
  </body>
</html>

